@import 'fonts.css';

* {
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    color: var(--dark);
    text-decoration: none !important;
}

.container {
    max-width: 1255px;
}

a:hover {
    color: var(--dark);
    text-decoration: none !important;
    transition: color 300ms;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    }


::-webkit-scrollbar {
    width: 15px;
}

  
::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 15px;
    border: solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}


.btn-back-to-top {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: none;
      width: 80px;
      height: 80px;
      box-shadow: 0px 0px 15px 0px rgba(2, 183, 175, 1);
}

.btn-back-to-top img {
    pointer-events: none;
}


/* ******************** */
/* Root start */

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

:root {
    --white: #ffffff;
    --gray: #f8f9f9;
    --dark: #191919;
    --mm500: 'MM';
    --mm100: 'MT';
    --mmB: 'MB' ;
    --mm600: 'MSB';
    --nn400: 'NSR';
    --moo400: 'MOL';
    --mm400: 'MSR';
}

/* Root end */
/* ******************** */

/* ******************** */
/* Header start */

/* .header {
    background-color: #191919;
} */



header {
    background-color: #191919;
    height: 170px;
    display: flex;
    align-items: center;
}

.header_main {
    padding-top: 23px;
    padding-bottom: 23px;
}

.form-control {
    margin-right: 20px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;   
    text-align: start;
  }


.glavnaya a {
    position: relative;
    color: white;
    padding: 6px 24px 6px 27px;
    font-family: var(--mm600);
    font-size: 18px;
}

.glavnaya a::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid transparent; /* Начальный цвет границы (прозрачный) */
    box-shadow: none; /* Начальная тень */
    transition: 0.5s;
}

.glavnaya a::after {
    left: 22%;
    right: 18%;
    border-color: #02AAB0; /* Цвет границы при :hover */
    box-shadow: 0 0 10px white;
}

/* .dropdown::after {
    content: "";
    position: absolute;
}

.dropdown:hover::after {
    left: 10%;
    right: 10%;
    bottom: 0;
    border: 1px solid #02AAB0;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
} */

.dropdown {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    font-style: var(--mm600);
}

.dropdown span {
    font-family: var(--mm600);
    font-size: 18px;
}

.dropdown button {
    background-color: transparent;
    border-style: none;
}

.dropdown button:hover {
    background-color: transparent;
    border-style: none;
}

    
.dropdown-toggle {
    width: 150px;
}


.btn-secondary:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}



.logo_text-1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo_text-2 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.searchbar {
    margin-left: 30px;
}

.input-group {
    width: auto;
}

.form-outline input {
    width: 194px;
    height: 35px;
    margin: 0;
    border-radius: 5px 0px 0px 5px;
    font-family: var(--mm500);
}

.btn-primary {
    height: 35px;
    border-radius: 0px 7px 7px 0px;
    background-color: #2A9D8F;
    border-color: #2A9D8F;
}

.btn-primary:hover {
    background-color:#2A9D8F;
    border-color: #2A9D8F;
}

.submit-button {
    margin-left: 62px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 274px;
    height: 50px;
    margin-right: 62px;
    font-family: var(--mm600);
    color: white;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgba(2, 170, 176, 1) 0%,
    rgba(0, 205, 172, 1) 100%
    );
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #45fcff;
 }

.submit-button a {
  text-decoration: none;
  color: white !important;
}

.login-section a {
    color: white;
    font-size: 20px;
    font-family: var(--mm600);
    width: auto;
    margin-right: 20px;
} 

.ellipse {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2A9D8F;
  }
  
  .login-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
  }

/* Header End */ 
/* ********************* */

/* ********************* */
/* Burger menu */

.table_bordered {
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    letter-spacing: 2px;
    text-transform: uppercase;
}  

.table_bordered:hover {
    color: white;
}

.navigation-link {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
}

.navbar:focus {
    background-color: white;
}

.navigation-link:hover {
    background: white;
}

.nav-link a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  text-decoration: none;
  padding: 20px;
}

.nav-link a:hover {
    color: black;
    background: gray;
}

.transparency {
    width: 100%;
    transition: 0.25s;
}

.collapse.show {
    background-color: white; 
  }

.collapsing {
    background-color: white;
}

.collapse {
    background-color: white; 
  }


/* Header end */
/* ********************* */

/* ********************* */
/* Main start */

.main_background {
    background: url(../../img/back.jpg) no-repeat center center /cover;
    height: auto;
    min-height: 100vh;
}

.main_background .container {
    max-width: 1720px;
}

.main_text {
    box-shadow: border-box;
    width: auto;
    margin-top: 92px;
    margin-bottom: 70px;
}

.main_text-sub {
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 55px;
    height: auto;
    margin-bottom: 950px;
    box-shadow:0 0 2px #fff;
}

#FPJ1 {
    font-size: 50px;
    font-family: var(--mmB);
    margin-top: 100px;
    margin-bottom: 40px;
    text-shadow: 4px 2px 4px rgba(42, 157, 143, 0.6);

}

#FPJ2 {
    font-size: 35px;
    font-family: var(--mm600);
    margin-bottom: 100px;
    text-shadow: 4px 2px 4px rgba(42, 157, 143, 0.6);

}

.main_navbar {
    height: 600px;
}

.main_transit {
    height: 100px;
}

.advice_text-1 {
  color: rgba(25, 25, 25, 1);
  font-family: var(--mm500);
  font-size: 30px;
  line-height: 37px;
  margin-top: 30px;
  margin-bottom: 136px;
}

.advice_text-2 {
  color: rgba(25, 25, 25, 1);
  font-family: var(--mm500);
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 40px;
}

.main_categories {
    width: 1140px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

.category {
    height: auto;
}

.icon-1 {
    position: relative;
    top: 5px;
}

.icon-1_1 {
    position: absolute;
}

.icon-2 {
    position: relative;
}

.icon-2_1 {
    position: absolute;
    pointer-events: none;
}


.column-1 {
    width: 120px;
}

.column-2 {
    width: auto;
    height: auto;
}

.column-2_text {
    width: auto;
}

.column-2_text p {
    color: rgba(42, 157, 143, 1);
    font-size: 18px;
    font-family: var(--mm600);
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
}

.category-link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 48px;
}

.column-category {
    width: auto;
    height: auto;
}


.category-link p {
    text-align: center;
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.column-2_text p{
    text-align: center;
    margin: 0;
}

.zagolovok {
    padding-top: 30px;
}

.advice_name {
  width: 1260px;
  height: 84px;
  border-radius: 10px;
  border: 2px solid rgba(42, 157, 143, 0.25);
  padding-left: 30px;
  font-size: 22px;
  font-family: var(--mm500);
}

.advice_info-upper {
  margin-top: 20px;
}

textarea {
  resize: none;
}

.advice_info-desc textarea {
  max-width: 620px;
  width: 620px;
  height: 310px;
  border-radius: 10px;
  border: 2px solid rgba(42, 157, 143, 0.25);
  font-size: 22px;
  font-family: var(--mm500);
  padding-left: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
}

.advice_info-desc {
  position: relative;
}

 .advice_info-desc.has-warning::after {
  content: attr(data-required);
  position: absolute;
  right: 375px;
  top: 85%;
  font-family: var(--mm400);
  line-height: 22px;
  font-size: 18px;
  transform: translateY(-50%);
  color: #ccc;
} 

.advice_info-dannie textarea {
  width: 620px;
  height: 145px;
  border-radius: 10px;
  border: 2px solid rgba(42, 157, 143, 0.25);
  font-size: 22px;
  font-family: var(--mm500);
  padding-left: 30px;
  margin-bottom: 20px;
} 

.inputwrapper1.active::after,
.inputwrapper2.active::after {
  /* Скрытие псевдоэлемента при фокусе на инпуте */
  display: none;
}

.inputDataText{
  padding: 13px; 
  border-width: 1px; 
  border-radius: 9px; 
  border-style: solid; 
  border-color: #d9d9d9; 
  width: 100%;
  box-sizing: border-box;
}

.gorod {
  padding-top: 13px;
}

.inputwrapper1,
.inputwrapper2 {
  position: relative;
}

.inputwrapper1::after,
.inputwrapper2::after {
  content: attr(data-required);
  position: absolute;
  font-family: var(--mm400);
  line-height: 22px;
  font-size: 18px;
  color: #ccc;
  transform: translateY(-50%);
}

.inputwrapper1::after {
  right: 22px;
  top: 85%;
  display: block;
  background-color: white;
  width: 616px;
  padding-left: 30px;
  height: 45px;
  border-radius: 0px 0px 10px 10px;
  padding-top: 15px;
}


.inputwrapper2::after {
  right: 410px;
  top: 72%;
}

/* Main end */
/* ******************** */

/* ******************** */
/* Footer start */

footer {
    background: #191919;;
    height: 428px;
}



footer .container {
    max-width: 1320px;
    height: 100%;
}

.footer {
    padding-top: 136px;
}

.footer_item1 h2 {
    display: inline-block;
    font-family: var(--mm500);
    color: var(--white);
    font-size: 18px;
    line-height: 14px;
    align-self: flex-start;
}

.footer_item1 p {
    color: #e4e5da;
    margin: 0;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm400);
    margin-top: 24px;
    font-weight: 400;
    line-height: normal;
}

.footer_item1 span {
    color: #e4e5da;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm600);
    font-weight: 500;
    line-height: normal;
}

.footer_item2 a {
    color: #e4e5da;
    text-decoration: none;
    text-align: end;
    font-size: 24px;
    font-family: var(--mm500);
    line-height: 28px;
}

.footer_item2 p {
    color: #e4e5e4;
    text-decoration: none;
    text-align: end;
    font-size: 23px;
    font-family: var(--mm400);
}

.footer_link1 {
    margin-right: 30px;
}

.footer_item2,
.footer_link,
.footer_link a {
    color: #e4e5da;
    text-decoration: none;
    font-family: var(--mm500);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.footer a:hover {
    color: gray;
}

.outro {
    font-size: 22px;
    font-family: var(--mm400);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: #FFF;
}

.footer_icons {
    width: 215px;
    height: auto;
    flex-shrink: 0;
    margin-top: 10px;
}

/* Footer end */

@media(min-width:320px) and (max-width:990px) {
    .searchbar {
        flex-direction: column;
    }

    .btn-outline-success {
        margin-top: 15px;
    }
}

@media(min-width:768px) and (max-width:9999px) {
    .navigation-link {
        display: none !important;
    }
    .column-category_sub {
        flex-direction: column !important;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .navigation-regular {
        display: none !important;
    }
    
    
}


@media(min-width:320px) and (max-width:767px) {
    .main_text {
        width: auto;
        height: auto;
    }
    
    .main_categories {
        grid-template-columns: repeat(1,auto);
        row-gap: 20px;
    }

    .column-2_text {
        width: 100%;
        text-align: center;
    }

    .main_text-sub {
        width: auto;
        height: 1100px;
    }

    .category-link {
        margin: 0;
    }

    .column-category_sub {
        justify-content: start !important;
        width: 100% !important;
    }

    .column-category {
        display: block !important;
        width: 100% !important;
        height: auto;  
        border-radius: 15px;
    }

    .col-first {
        background-color: #ff8c69a8;
    }

    .col-second {
        background-color: #e4717ba4 ;
    }

    .col-third {
        background-color: #afdbfca6;
    }

    .col-four {
        background-color: #ace5ee9a;
    }

    .col-five {
        background-color: #a8e4a094;
    }

    .col-six {
        background-color: #ffce488a;
    }   

    .col-seven {
        background-color: #ffe4b579;
    }

    .col-eight {
        background-color: #71bc7886;
    }   

    .col-nine {
        background-color: #e5e4e293;
    }

    .col-ten {
        background-color: #dcd0ff8e;
    }
}

@media(min-width:320px) and (max-width:580px) {    
    .footer_item1,
    .footer_item2 {
        margin-bottom: 50px;
    }
  
    .footer {
        flex-direction: column;
    }
  }

 