@import 'fonts.css';

* {
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    color: var(--dark);
    text-decoration: none !important;
}

.container {
    max-width: 1255px;
}

a:hover {
    color: var(--dark);
    text-decoration: none !important;
    transition: color 300ms;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    }


::-webkit-scrollbar {
    width: 15px;
}

  
::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 15px;
    border: solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}


.btn-back-to-top {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: none;
      width: 80px;
      height: 80px;
      box-shadow: 0px 0px 15px 0px rgba(2, 183, 175, 1);
}

.btn-back-to-top img {
    pointer-events: none;
}


/* ******************** */
/* Root start */

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

:root {
    --white: #ffffff;
    --gray: #f8f9f9;
    --dark: #191919;
    --mm500: 'MM';
    --mm100: 'MT';
    --mmB: 'MB' ;
    --mm600: 'MSB';
    --mm600i: 'MSBItalic';
    --nn400: 'NSR';
    --moo400: 'MOL';
    --mm400: 'MSR';
    --mm900: 'MSBlack';
}

/* Root end */
/* ******************** */

/* ******************** */
/* Header start */

/* .header {
    background-color: #191919;
} */



header {
    background-color: #191919;
    height: 170px;
    display: flex;
    align-items: center;
}

.header_main {
    width: 1320px;
    height: 90px;
}

.form-control {
    margin-right: 20px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;   
    text-align: start;
  }


.dropdown .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.navigation-regular .dropdown {
    max-width: 109px;
  }

.glavnaya a {
    position: relative;
    color: white;
    padding: 6px 24px 6px 27px;
    font-family: var(--mm600);
    font-size: 18px;
}

.glavnaya a::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid transparent; /* Начальный цвет границы (прозрачный) */
    box-shadow: none; /* Начальная тень */
    transition: 0.5s;
}

.glavnaya a::after {
    left: 22%;
    right: 18%;
    border-color: #02AAB0; /* Цвет границы при :hover */
    box-shadow: 0 0 10px white;
}

/* .dropdown::after {
    content: "";
    position: absolute;
}

.dropdown:hover::after {
    left: 10%;
    right: 10%;
    bottom: 0;
    border: 1px solid #02AAB0;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
} */

.dropdown {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    font-style: var(--mm600);
}

.dropdown span {
    font-family: var(--mm600);
    font-size: 18px;
}

.dropdown button {
    background-color: transparent;
    border-style: none;
}

.dropdown button:hover {
    background-color: transparent;
    border-style: none;
}

    
.dropdown-toggle {
    width: 150px;
}


.btn-secondary:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}



.logo_text-1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo_text-2 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.searchbar {
    margin-left: 30px;
}

.input-group {
    width: auto;
}

.form-outline input {
    width: 194px;
    height: 35px;
    margin: 0;
    border-radius: 5px 0px 0px 5px;
    font-family: var(--mm500);
}

.btn-primary {
    height: 35px;
    border-radius: 0px 5px 5px 0px;
    background-color: #2A9D8F;
    border-color: #2A9D8F;
}

.btn-primary:hover {
    background-color:#2A9D8F;
    border-color: #2A9D8F;
}

.submit-button {
    margin-left: 62px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 274px;
    height: 50px;
    margin-right: 62px;
    font-family: var(--mm600);
    color: white;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgba(2, 170, 176, 1) 0%,
    rgba(0, 205, 172, 1) 100%
    );
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #45fcff;
 }

 .submit-button a {
    text-decoration: none;
    color: white !important;
 }

.login-section a {
    color: white;
    font-size: 20px;
    font-family: var(--mm600);
    width: auto;
    margin-right: 20px;
} 

.ellipse {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2A9D8F;
  }
  
  .login-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
  }

/* Header End */ 
/* ********************* */

/* ********************* */
/* Burger menu */

.table_bordered {
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    letter-spacing: 2px;
    text-transform: uppercase;
}  

.table_bordered:hover {
    color: white;
}

.navigation-link {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
}

.navbar:focus {
    background-color: white;
}

.navigation-link:hover {
    background: white;
}

.nav-link a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  text-decoration: none;
  padding: 20px;
}

.nav-link a:hover {
    color: black;
    background: gray;
}

.transparency {
    width: 100%;
    transition: 0.25s;
}

.collapse.show {
    background-color: white; 
  }

.collapsing {
    background-color: white;
}

.collapse {
    background-color: white; 
  }


/* Header end */
/* ********************* */

/* ********************* */
/* Main start */

main {
    height: auto;
}

.main-container {
    min-width: 1720px !important;
    max-width: 1920px !important;
}

.main-background {
    height: auto;
    min-height: 100vh;
    background: url(../../../img/IMG_20200802_003610\ —\ копия\ 3.png) center /cover;
    padding-top: 93px;
}

.main_desk {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    width: 1720px;
    height: 1909px;
    backdrop-filter: blur(30px);
}

.main_desk-zagolovok {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.main_desk-zagolovok h2 {
    text-align: center;
    margin: 0;
}

.main_desk-zagolovok2 {
    width: 940px;
    margin-bottom: 100px;
}

#form2 {
    width: 190px;
    height: 48px;
}

#form2search {
    width: 142px;
    height: 48px;
}

#button_form2 {
    width: 48px;
    height: 48px;
}

.dropdown-submenu:hover > .dropdown-menu{
  display: block !important;
    left: 100%;
    margin-top: -37px;
}

.dropdown-item{
  font-size: small; /* 13px */
}

.dropdown-toggle::after{
  font-size: var(--font-md);
}

.dropdown-menu li a.active{
  color:#fff;
}

.dropdown-menu {
    width: 100%;
    transform: translate(0px, 50px) !important;
}

.custom-toggle-arrow{
  font-size: 18px;
  margin-top: 1px;
  line-height: 12px;
}

.dropdown .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.drop-1 {
 width: 280px;
 background-color: rgba(252, 252, 252, 1);
}

.drop-2 {
 width: 220px;
 background-color: rgba(252, 252, 252, 1);
}

.drop-1,
.drop-2 {
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    margin: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.drop-1:active,
.drop-2:active {
    border: 1px solid rgba(42, 157, 143, 1) !important;
    border-radius: 10px !important;
}

.drop-1:focus,
.drop-2:focus {
    border: 1px solid rgba(42, 157, 143, 1) !important;
    border-radius: 10px !important;
}

.drop-1 .dropdown-toggle:focus,
.drop-2 .dropdown-toggle:focus{
    border: 1px solid rgba(42, 157, 143, 1) !important;
    border-radius: 10px !important;
    height: 100%;
}

    a.active.focus,
    a.active:focus,
    a.focus,
    a:active.focus,
    a:active:focus,
    a:focus,
    .btn.focus,
    .btn:active.focus,
    .btn:active:focus,
    .btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
    }   

.colonki {
    width: 940px;
    height: 1333px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    gap: 20px;
    justify-content: space-between;
}
  
.colonka {
    width: 300px;
    height: 431px;
    background-color: white;
    border-radius: 10px;
}

.colonka_img img{
    border-radius: 10px 10px 0 0;
    width: 300px;
    height: 300px;
}

.colonka_text {
    height: 131px;
}

.colonka_text p {
    margin: 0;
}

.colonka_text p:first-of-type {
    font-family: var(--mm500);
    color: rgba(25, 25, 25, 1);
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 42px;
    height: 27px;
}

.colonka_text p {
    font-family: var(--mm500);
    color: rgba(25, 25, 25, 1);
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    height: 17px;
}

.colonka_text p:last-of-type {
    font-family: var(--mm500);
    color: rgba(25, 25, 25, 1);
    font-size: 12px;
    text-align: center;
    height: 15px;
}

.title {
    margin: 0;
}

.city {
    margin: 0;
}

.list {
    margin-top: 60px;
    width: 264px;
}

.list_page {
    width: 34px;
    height: 34px;
    border: 1px solid rgba(26, 188, 156, 1);
    padding: 0;
}

.list_page:hover {
    background-color: rgba(26, 188, 156, 1);
    transition: background-color 0.4s;
}

.list_page:hover a {
    color: white;
    transition: white 0.4s;
}

.list_back,
.list_next {
    width: 41px;
    height: 34px;
    border: 1px solid rgba(26, 188, 156, 1);
}

.list_back {
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(238, 238, 238, 1);
}

.list_next {
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(238, 238, 238, 1);
}

.list_page {
    background-color: rgba(252, 252, 252, 1);
}

/* Main end */
/* ******************** */

/* ******************** */
/* Footer start */

footer {
    background: #191919;;
    height: 428px;
}



footer .container {
    max-width: 1320px;
    height: 100%;
}

.footer {
    padding-top: 136px;
}

.footer_item1 h2 {
    display: inline-block;
    font-family: var(--mm500);
    color: var(--white);
    font-size: 18px;
    line-height: 14px;
    align-self: flex-start;
}

.footer_item1 p {
    color: #e4e5da;
    margin: 0;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm400);
    margin-top: 24px;
    font-weight: 400;
    line-height: normal;
}

.footer_item1 span {
    color: #e4e5da;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm600);
    font-weight: 500;
    line-height: normal;
}

.footer_item2 a {
    color: #e4e5da;
    text-decoration: none;
    text-align: end;
    font-size: 23px;
    font-family: var(--mm500);
    line-height: 28px;
    width: 212px;
    align-self: flex-end;
}

.footer_item2 p {
    color: #e4e5e4;
    text-decoration: none;
    text-align: end;
    font-size: 23px;
    font-family: var(--mm400);
    margin-bottom: 21px;
}

.footer_link1 {
    margin-right: 30px;
}

.footer_item2,
.footer_link,
.footer_link a {
    color: #e4e5da;
    text-decoration: none;
    font-family: var(--mm500);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.footer a:hover {
    color: gray;
}

.outro {
    font-size: 22px;
    font-family: var(--mm400);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: #FFF;
}

.footer_icons {
    width: 215px;
    height: auto;
    flex-shrink: 0;
    margin-top: 21px;
    align-self: flex-end;
}

.footer_icons-1,
.footer_icons-2,
.footer_icons-3 {
    width: 43px;
    height: 43px;
    position: relative;
}

.icon_shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

/* Footer end */

@media(min-width:320px) and (max-width:990px) {
    .searchbar {
        flex-direction: column;
    }

    .btn-outline-success {
        margin-top: 15px;
    }
}


@media(min-width:768px) and (max-width:9999px) {
    .navigation-link {
        display: none !important;
    }
    .column-category_sub {
        flex-direction: column !important;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .navigation-regular {
        display: none !important;
    }
    
    
}


@media(min-width:320px) and (max-width:580px) {    
    .footer_item1,
    .footer_item2 {
        margin-bottom: 50px;
    }
 
    .footer {
        flex-direction: column;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .colonki {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 80px;
        justify-content: space-between;
    }
}

