@import '../../style/fonts.css';

html,body {
    scroll-behavior: smooth;
    scrollbar-width: 0%;
}

* {
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    color: var(--dark);
    text-decoration: none !important;
}

.container {
    max-width: 1255px;
}

a:hover {
    color: var(--dark);
    text-decoration: none !important;
    transition: color 300ms;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    }


::-webkit-scrollbar {
    width: 15px;
}

  
::-webkit-scrollbar-track {
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 15px;
    border: solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}


.btn-back-to-top {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: none;
      width: 80px;
      height: 80px;
      box-shadow: 0px 0px 15px 0px rgba(2, 183, 175, 1);
}

.btn-back-to-top img {
    pointer-events: none;
}


/* ******************** */
/* Root start */

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

:root {
    --white: #ffffff;
    --gray: #f8f9f9;
    --dark: #191919;
    --mm100: 'MT';
    --nn400: 'NSR';
    --mm400: 'MSR';
    --mm500: 'MM';
    --mmB: 'MB' ;
    --mm600: 'MSB';
    --mm600i: 'MSBItalic';
    --mm700i: 'BoldItalic';
    --mm900: 'MSBlack';
    --moo400: 'MOL';
}

/* Root end */
/* ******************** */

/* ******************** */
/* Header start */

/* .header {
    background-color: #191919;
} */

header {
    background-color: #191919;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1999;
}

.container_head {
    max-width: 1320px;
    width: 1320px;
    
}

.header_main {
    width: 100%;
    height: 68px;
}

.form-control {
    margin-right: 20px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;   
    text-align: start;
  }


.dropdown .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}

.navigation-regular .dropdown {
    max-width: 120px;
  }

.glavnaya {
    display: flex;
}

.glavnaya a {
    position: relative;
    color: white;
    padding: 6px 24px 6px 27px;
    font-family: var(--mm600);
    font-size: 18px;
}

.glavnaya a::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    border: 1px solid transparent; /* Начальный цвет границы (прозрачный) */
    box-shadow: none; /* Начальная тень */
    transition: 0.5s;
}

.glavnaya a::after {
    left: 22%;
    right: 18%;
    border-color: #02AAB0; /* Цвет границы при :hover */
    box-shadow: 0 0 10px white;
}

/* .dropdown::after {
    content: "";
    position: absolute;
}

.dropdown:hover::after {
    left: 10%;
    right: 10%;
    bottom: 0;
    border: 1px solid #02AAB0;
    box-shadow: 0 0 10px white;
    transition: 0.5s;
} */

.dropdown {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    font-style: var(--mm600);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown span:first-of-type {
    font-family: var(--mm600);
    font-size: 18px;
}

.dropdown button {
    background-color: transparent;
    border-style: none;
}

.dropdown button:hover {
    background-color: transparent;
    border-style: none;
}

    
.dropdown-toggle {
    width: 150px;
}

.btn-secondary:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-secondary {
    width: auto;
    padding: 0;
}

.logo {
    height: 70px;
    width: 86px;
}

.logo_text-1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo_text-2 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2A9D8F;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.searchbar {
    margin-left: 30px;
}

.input-group {
    width: auto;
    margin-right: 60px;
}

.form-outline input {
    width: 194px;
    height: 35px;
    margin: 0;
    border-radius: 20px 0px 0px 20px;
    font-family: var(--mm500);
}

.btn-primary {
    height: 35px;
    border-radius: 0px 20px 20px 0px;
    background-color: #2A9D8F;
    border-color: #2A9D8F;
}

.btn-primary:hover {
    background-color:#2A9D8F;
    border-color: #2A9D8F;
}


.submit-button {
    margin-left: 62px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 274px;
    height: 50px;
    margin-right: 62px;
    font-family: var(--mm600);
    color: white;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgba(2, 170, 176, 1) 0%,
    rgba(0, 205, 172, 1) 100%
    );
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #45fcff;
 }

.main-text .submit-button {
    margin-left: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
    font-family: var(--mmB);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 40px;
}


 .submit-button a {
    text-decoration: none;
    color: rgba(78, 78, 78, 1) !important   ;
 }

.login-section a {
    color: white;
    font-size: 20px;
    font-family: var(--mm600);
    width: auto;
    margin-right: 20px;
} 

.ellipse {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2A9D8F;
  }
  
  .login-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px; 
    height: 40px; 
  }

  .dropdown-menu {
    width: 235px;
  }

  .dropdown-menu li:first-of-type {
    margin-top: 20px;
  }

  .dropdown-menu li {
    margin-bottom: 16px;
  }

  .dropdown-menu li:last-of-type::after {
    display: none !important;
  }

  .dropdown-menu li{
    position: relative;
  }

  .dropdown-menu li a {
    color: #2A9D8F;
    font-family: var(--mmB);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    margin-left: 10px;
  }

  .dropdown-menu li::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 206px;
    bottom: -8px;
    border: 1px solid transparent;
    box-shadow: none;
    transition: 0.5s;
  }

  .dropdown-menu li::after {
     border-color: #F3F3F3; 
  }

/* Header End */ 
/* ********************* */

/* ********************* */
/* Burger menu */

  /**
   * Переключаемая боковая панель навигации
   * выдвигающаяся справа
   */
  
  .nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 320px;
    min-width: 0px;
    /* фиксируем и выставляем высоту панели на максимум */
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно правого края страницы */
    right: -320px;
    /* внутренние отступы */
    /* плавный переход смещения панели */
    -webkit-transition: right 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -moz-transition: right 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: right 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    /* определяем цвет фона панели */;
    /* поверх других элементов */
    z-index: 2000;
}

/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно правого края панели */
    right: 320px;
    /* отступ от верхнего края панели */
    top: 25px;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: #dadada;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 33px;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    margin: 0;
    background: transparent !important;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
    width: 330px;
}

.nav-toggle:hover {
    color: #f4f4f4;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .nav > .nav_block >  .nav-toggle {
    left: auto;
    right: 1px;
    top: 25px;
    background: inherit;
}

[id='nav-toggle']:checked ~ .nav {
    width: 100%;
    background: white;
    background-image: url(../img/Group\ 16683.png);
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
    scrollbar-width: none;
}

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    transform: translateX(-320px);
}

[id='nav-toggle']:checked ~ .nav > .nav_block >  .nav-toggle:after {
    content: '\2715';
}


/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
      scrollbar-width: none;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}


/**
 * Формируем стиль заголовка (логотип) панели 
*/

.nav .logo {
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    background: #191919;
}

/* Начальные стили блока .logo */
.nav .logo {
    opacity: 0; /* Начальная непрозрачность блока */
    transform: translateX(-100%); /* Начальное смещение блока влево */
    transition: opacity 1s ease, transform 0.1s ease; /* Плавное изменение непрозрачности и смещения */
}

/* Стили, когда блок появляется */
.nav .logo.active {
    opacity: 1; /* Непрозрачность блока при появлении */
    transform: translateX(0%); /* Смещение блока в исходное положение (без смещения) */
}

/* Добавляем стили для анимации исчезновения */
.logo-image {
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

/* Стили для .nav-toggle, когда он unchecked */
[id='nav-toggle']:not(:checked) ~ .nav .logo-image {
    display: none; /* Исчезновение .logo-image */
}



.nav .logo img {
    width: 86px;
    height: 70px;
}

.logo-image {
    margin-left: 20px;
}

.nav .logo a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_main {
    background: white;
    background-image: url(../../img/Group\ 16683.png);
    height: auto;
}

.nav .input-group {
    width: 100%;
    height: 40px;
    margin-top: 70px;
    margin-right: 0;
    
}

.nav .input-group .form-control {
    width: 400px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
}

.nav .input-group button {
    width: 40px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
}

.nav_main ul {
    padding: 0;
    margin: 0;
}

.nav_main li {
    margin-top: 70px;
}

.nav_main li:last-of-type {
    margin-bottom: 70px;
}

.nav_main .autoriz-button {
    font-family: var(--mm600);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF !important;
    margin: 0;
    width: 440px;
    height: 50px;
    margin-bottom: 30px;
}

.nav_main .regist-button {
    width: 440px;
    height: 50px;
    background: #191919;
    border-radius: 30px;
    color: white;
    font-family: var(--mm600);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 120px;
}

.nav footer {
    width: 100%;
}

/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='nav-toggle']:checked ~ .nav .nav_block .logo {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > .nav_block >  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > .nav_block >  .nav_main > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > .nav_block >  .nav_main > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


/* определяем интервалы появления пунктов меню */

.nav > .nav_block >  .nav_main > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > .nav_block >  .nav_main > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > .nav_block >  .nav_main > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > .nav_block >  .nav_main > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > .nav_block >  .nav_main > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > .nav_block >  .nav_main > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * оформление ссылок пунктов меню
 */

.nav > .nav_block >  .nav_main > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #2A9D8F;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
    font-family: var(--mmB);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}


/**
 * состояние ссылок меню при наведении
 */

.nav > .nav_block >  .nav_main > ul > li > a:hover,
.nav > .nav_block >  .nav_main > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
 * линия подчеркивания ссылок меню
 */

.nav > .nav_block >  .nav_main > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

/* .nav > .nav_block >  .nav_main > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
} */


/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */

.nav > .nav_block >  .nav_main > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > .nav_block > .nav_main > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}


 /* фон затемнения на основной контент 
 * при этом элементы блокируютя
 * спорная такая фича, если оно вам надо
 * просто раскомментируйте */



.mask-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

[id='nav-toggle']:checked ~ .mask-content {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

[id='nav-toggle']:checked ~ .mask-content {
    animation: fadeIn 0.5s forwards;
}

[id='nav-toggle']:not(:checked) ~ .mask-content {
    animation: fadeOut 0.5s forwards;
}



.nav_block:disabled {
    display: none;
}

 .nav_auto-user a {
    width: 100%;
    min-width: 251px;
    height: 40px;
    border-radius: 30px;
    background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
    color: white;
    font-family: var(--mm600);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
}

.quit {
    font-family: var(--mm600);
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
    border: 0;
    background: inherit;
    color: #F67C7C;
    margin-bottom: 10px;
}

.nav_auto-user-square p{
    font-family: var(--mmB);
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    margin-top: 10px;
}

/* Header end */
/* ********************* */

/* ********************* */
/* Main start */


main {
    background: url(../../img/back_regis.png) center no-repeat;
}


.main_text {
    box-shadow: border-box;
    width: 480px;
    height: 790px;
    margin-top: 200px;
    margin-bottom: 200px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);

}

.main_text-sub {
    background-color: white;
    background: rgba(255, 255, 255, 1);
    border-radius: 55px;
    height: auto;
    width: auto;
}

.input-aut,
.input-aut_last {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;  
    outline: none; 
    height: auto; 
    width: auto; 
    color: #cccccc;
    font-size: 11px; 
    font-family: Tahoma;
    margin-top: 20px;
}

.input-aut,
.input-aut_last {
    padding-left: 15px;
    font-size: 20px;
}

.autoriz {
    font-family: var(--mm500);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;   
    margin-top: 40px;
    margin-bottom: 40px;
}

.autoriz-button button {
    margin-left: 62px;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    margin-right: 62px;
    font-family: var(--mm600);
    color: white;
    cursor: pointer;
    background: linear-gradient(
    90deg,
    rgba(2, 170, 176, 1) 0%,
    rgba(0, 205, 172, 1) 100%
    );
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #45fcff;
    width: 380px;
    height: 50px;
    font-size: 20px;
}

.autoriz-button button {
    overflow: visible;
    border: none;
    padding: 0;
    outline: none;
    font-weight: inherit;
    margin-bottom: 134px;
}

.forgot {
    font-family: var(--mm400);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(2, 175, 176, 1);
    margin-top: 30px;
}

.autorization {
    width: 479px;
    height: 788px;
    top: 328px;
    left: 721px;
    border-radius: 7px;

}

.autorization input {
    width: 380px;
    height: 54px;
    border-radius: 7px;
    background: rgba(237, 240, 247, 1) !important;
    border: 0;
    margin-top: 0;
}

.input-aut {
    margin-bottom: 30px;
}

.input-aut_last {
    margin-bottom: 40px;
}

.input-aut::placeholder,
.input-aut_last::placeholder {
    padding-left: 50px;
    color: rgba(177, 177, 177, 1);
    font-family: var(--mm500);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.input-container {
    position: relative;
}

.autorization .first-image,
.phone-image
 {
    position: absolute;
    top: 22%;
    right: 88%;
}

.confirm-password-image {
    position: absolute;
    top: 18%;
    right: 88%;
}

.email-image {
    position: absolute;
    top: 25%;
    right: 88%;
}


.autorization .last-image {
    position: absolute;
    top: 18%;
    right: 88%;
}

.no-acc {
    font-family: var(--mm400);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(177, 177, 177, 1);
}

.no-acc span a {
    font-family: var(--mm600);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(2, 175, 176, 1);
    margin-left: 20px;
}

.input-container {
  position: relative;
}

.autorization .first-image,
.autorization .last-image {
  position: absolute;
  top: 18%;
  right: 88%;
}

.input-container {
    position: relative;
  }
  
  .first-image,
  .last-image {
    display: block;
  }
  
  .input-aut:focus + .first-image,
  .input-aut:focus + .last-image {
    display: none;
  }
  
  .input-aut:focus::placeholder {
    color: transparent;
  }

/* Main end */
/* ******************** */

/* ******************** */
/* Footer start */

footer {
    background: #191919;;
    height: 428px;
}



footer .container {
    max-width: 1320px;
    height: 100%;
}

.footer {
    padding-top: 136px;
}

.footer_item1 h2 {
    display: inline-block;
    font-family: var(--mm500);
    color: var(--white);
    font-size: 18px;
    line-height: 14px;
    align-self: flex-start;
}

.footer_item1 p {
    color: #e4e5da;
    margin: 0;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm400);
    margin-top: 24px;
    font-weight: 400;
    line-height: normal;
}

.footer_item1 span {
    color: #e4e5da;
    text-align: justify;
    font-size: 23px;
    font-family: var(--mm600);
    font-weight: 500;
    line-height: normal;
}

.footer_item2 a {
    color: #e4e5da;
    text-decoration: none;
    text-align: end;
    font-size: 23px;
    font-family: var(--mm500);
    line-height: 28px;
    width: 212px;
    align-self: flex-end;
}

.footer_item2 p {
    color: #e4e5e4;
    text-decoration: none;
    text-align: end;
    font-size: 23px;
    font-family: var(--mm400);
    margin-bottom: 21px;
}

.footer_link1 {
    margin-right: 30px;
}

.footer_item2,
.footer_link,
.footer_link a {
    color: #e4e5da;
    text-decoration: none;
    font-family: var(--mm500);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.footer a:hover {
    color: gray;
}

.outro {
    font-size: 22px;
    font-family: var(--mm400);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: #FFF;
}

.footer_icons {
    width: 215px;
    height: auto;
    flex-shrink: 0;
    margin-top: 21px;
    align-self: flex-end;
}

.footer_icons-1,
.footer_icons-2,
.footer_icons-3 {
    width: 43px;
    height: 43px;
    position: relative;
}

.icon_shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}


/* Footer end */
/********************************************************************************************************************************************/
















/********************************************************************************************************************************************/
/* Копируется для других страниц */
/* Мобильные свойства */

@media(min-width:1025px) and (max-width:9999px) {        
    
    .outro-design {
        display: none;
    }
    
    .social {
        display: none;
    }
}
/* Мобильные свойства */
/* Копируется для других страниц */  

@media (min-width:1800px) and (max-width:9999px) {
    .outro_designers {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

}

@media (min-width:320px) and (max-width:1024px) {
    .header_buttons {
        display: none !important;
    }
}

/* Копируется для других страниц */
/* Мобильный хедер 320р - 480р */
@media (min-width:320px) and (max-width:480px) {
    header {
        height: 107px;
        position: fixed;
    }

    .logo {
        margin-left: 16px;
        height: 47px;
        width: 58px;
    }   

    .header_main {
        display: flex;
        align-items: center;
    }

    .header_buttons {
        display: none !important;
    }

    .navigation-regular .search_login {
        display: none !important;
    }
/* Копируется для других страниц */
/* Мобильное бургер меню 320р - 480р */
/******************************/





/******************************/
/* Мобильное бургер меню 320р - 480р */
/* Копируется для других страниц */
    .nav-toggle {
        right: 330px;
        top: 20px;
    }

    [id='nav-toggle']:checked ~ .nav > .nav_block > .nav-toggle {
        right: 10px;
    }

    .nav_main .input-group {
        height: 32px !important;
        margin-top: 30px !important;
    }

    .nav_main .input-group .form-outline input {
        width: 256px !important;
        height: 32px;
    }

    .nav_main .input-group button {
        width: 32px !important;
        height: 32px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_auto-user-square {
        margin-top: 70px;
    }

    .nav_auto-user-square p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: var(--mm700i);
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;

    }

    .nav_auto-user-square button {
        margin-bottom: 40px;
        font-family: var(--mm600);
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #F67C7C;
        background: none;
        border-radius: none;
        border: none;
    }

    .nav_auto-user a {
        width: 288px;
        height: 50px;
        border-radius: 30px;
        background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);   
        color: white;
        font-family: var(--mm600);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }

    .autoriz-button {
        width: 288px !important;
    }

    .regist-button {
        width: 288px !important;
    }

    label .nav-toggle {
        right: 50px !important;
    }

    .logo-image {
        margin-left: 16px;
    }

    .nav .logo {
        height: 107px;
    }

    .nav .logo img {
        width: 58px;
        height: 47px;
    }

    .form-control {
        width: 588px !important;
    }

    .nav_main footer {
        height: 516px;
    }

/* Мобильный хедер 320р - 480р */
/* Копируется для других страниц */

/* Мобильный мейн 320р -480р */

    .autorization {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    main {
        background: unset;
    }

    .main_text {
        background: url(../../img/autoriz320px.png);
    }

    .autoriz {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .input-container {
        width: 90%;
    }

    .input-container input {
        width: 100%;
    }

    .autoriz-button button {
        width: 100%;
        margin-left: 0;
    }

    .forgot {
        font-size: 20px;
    }

    .no-acc {
        font-size: 16px;
    }

    .no-acc span a{
        font-size: 16px;
        margin-left: 36px;
    }

    .input-aut::placeholder {
        padding-left: 10% !important;
        font-size: 16px;
    }

    .main_text {
        width: 100% !important;
        height: 100% !important;
        margin-top: 105px;
        margin-bottom: 0;
    }

    .container {
        padding: 0; }


/* Мобильный мейн 320p - 480p */

/******************************/
/* Копируется для других страниц */
/* Мобильный футер 320p - 480р */

footer {
    width: auto;
    height: 570px !important;
}

footer .container {
    height: 570px;
}

.footer {
    flex-direction: column;
    padding-top: 0 !important;
}


.footer_item1 {
    align-self: center;
}

.footer_item1 h2 {
    font-family: var(--mm600);
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0;
}

.footer_link {
    margin-bottom: 0;
}

.footer_item2 {
    margin-bottom: 0;
}

.footer_item2 p {
    align-self: center;
    font-family: var(--mm400);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer_item2 a {
    align-self: center;
    font-family: var(--mm500);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center      ;
}

.footer_item2 .footer_icons {
    align-self: center;
}

.social {
    margin-top: 60px !important;
    font-family: var(--mm400);
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px !important;
}

.footer_icons {
    margin-top: 0px;
    margin-bottom: 60px;
    width: 275px;
}

.footer_icons-1,
.footer_icons-2,
.footer_icons-3 {
    width: 55px;
    height: 55px;
}

.outro {
    font-family: var(--mm500);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px !important;
}

.outro p {
    margin: 0;
    font-size: 12px;
}

.outro-design {
    font-family: var(--mm400);
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;      
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px !important;
}

.outro-design span{
    font-family: var(--mm500);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.footer_item1 p {
    display: none;
}

.footer_link1 {
    display: none !important;
}

.footer_link2 {
    display: none !important;
}

.footer_icons {
    justify-content: space-around !important;
}
}
/* Мобильный футер 320p - 480р */
/* Копируется для других страниц */
/******************************/


/********************************************************************************************************************************************/
















/********************************************************************************************************************************************/
/* Мобильный хедер 480 - 768px */
/* Копируется для других страниц */

@media(min-width:480px) and (max-width:768px) {
    .header {
        height: 120px;
        position: fixed;
    }

    .nav_auto-user-square {
        margin-top: 40px;
    }

    .nav_auto-user-square p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: var(--mm700i);
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;

    }

    .nav_auto-user-square button {
        margin-bottom: 40px;
        font-family: var(--mm600);
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #F67C7C;
        background: none;
        border-radius: none;
        border: none;
    }

    .nav_auto-user a {
        width: 440px;
        height: 50px;
        border-radius: 30px;
        background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);   
        color: white;
        font-family: var(--mm600);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }

    .nav_main .input-group {
        margin-top: 40px;
    }

    .nav_main li:first-of-type {
        margin-top: 40px !important;
    }

    .nav_main li {
        margin-bottom: 50px;
        margin-top: 0 !important;
    }
}
    /* Мобильный хедер 480 - 768px */
    /* Копируется для других страниц */

/* **/ 
@media(min-width:480px) and (max-width:768px) {
.autorization {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

main {
    background: unset;
}

.main_text {
    background: url(../../img/autoriz320px.png);
}

.autoriz {
    margin-top: 150px;
    margin-bottom: 100px;
}

.input-container {
    width: 90%;
}

.input-container input {
    width: 100%;
}

.autoriz-button button {
    width: 100%;
    margin-left: 0;
}

.forgot {
    font-size: 20px;
    margin-bottom: 100px;
}

.no-acc {
    font-size: 16px;
}

.no-acc span a{
    font-size: 16px;
    margin-left: 36px;
}

.input-aut::placeholder {
    padding-left: 10% !important;
    font-size: 20px;
}

#confirmPasswordInput {
    font-size: 20px;
}

.main_text {
    width: 100% !important;
    height: 100% !important;
    margin-top: 105px;
    margin-bottom: 0;
}

.container {
    padding: 0; }

.autoriz-button {
    width: 90%;
}

.autorization .first-image {
    right: 91%;
}

.phone-image {
    right: 91%;
}

#emailImage {
    right: 91%;
}

#passwordImage {
    right: 91%;
}

.confirm-password-image {
    right: 91%;
}

/* Мейн 1024р - 1800р */ 

/* Копируется для других страниц */
/* Мобильный футер 480 - 768 px */

    footer {
        width: auto;
        height: 570px !important;
    }

    footer .container {
        height: 570px;
    }

    .footer {
        flex-direction: column;
        padding-top: 0 !important;
    }


    .footer_item1 {
        align-self: center;
    }

    .footer_item1 h2 {
        font-family: var(--mm600);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .footer_link {
        margin-bottom: 0;
    }

    .footer_item2 {
        margin-bottom: 0;
    }

    .footer_item2 p {
        align-self: center;
        font-family: var(--mm400);
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 95px;
        margin-bottom: 20px;
    }

    .footer_item2 a {
        align-self: center;
        font-family: var(--mm500);
        font-size: 23px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    .footer_item2 .footer_icons {
        align-self: center;
    }
    
    .social {
        margin-top: 60px !important;
        font-family: var(--mm400);
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px !important;
    }

    .footer_icons {
        margin-top: 0px;
        margin-bottom: 60px;
        width: 275px;
    }

    .footer_icons-1,
    .footer_icons-2,
    .footer_icons-3 {
        width: 55px;
        height: 55px;
    }

    .outro {
        font-family: var(--mm500);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 40px !important;
    }

    .outro p {
        margin: 0;
    }

    .outro-design {
        font-family: var(--mm400);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;      
        color: rgba(255, 255, 255, 1);
        margin-bottom: 20px !important;
    }

    .outro-design span{
        font-family: var(--mm500);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }

    .footer_item1 p {
        display: none;
    }

    .footer_link1 {
        display: none !important;
    }

    .footer_link2 {
        display: none !important;
    }

    
}

/* Мобильный футер 480 - 768 px */
/* Копируется для других страниц */

/* 768p to 1024p */
/* 768p to 1024p */
/* Копируется для других страниц */
/* Мобильный хедер 768 - 1024 р */

@media (min-width:768px) and (max-width:1023px) {
    header {
        height: 120px;
        position: fixed;
    }

    .header_buttons {
        display: none !important;
    }

    .navigation-regular .search_login {
        display: none !important;
    }

    .nav_auto-user {
        margin-top: 60px;
    }

    .logo {
        margin-left: 70px;
    }

    .nav .logo-image {
        margin-left: 70px;
    }

    [id='nav-toggle']:checked ~ .nav > .nav_block > .nav-toggle {
        right: 45px;
        top: 28px;
    }
}

/* Мобильный хедер 768 - 1024 р */
/* Копируется для других страниц */

/* Мобильный мейн 768р - 1024р */

@media (min-width:768px) and (max-width:1023px) {

main {
    background: unset;
}

.nav-toggle {
    right: 365px;
    top: 28px;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: unset !important;
    max-height: unset !important; 
}

.autorization {
    width: 100%;
    height: 100%;
    margin-bottom: 140px;
}

.main_text {
    width: 100% !important;
    height: 100% !important;
    margin-top: 120px;
    margin-bottom: 0;
    background: url(../../img/autoriz320px.png);
}

}

/* Мобильный мейн 768р - 1024р */

/* Копируется для других страниц */
/* Мобильный футер 768 - 1024 р */

@media (min-width:768px) and (max-width:1023px) {
    footer {
        width: auto;
        height: 570px !important;
    }

    footer .container {
        height: 570px;
    }

    .footer {
        flex-direction: column;
        padding-top: 0 !important;
    }


    .footer_item1 {
        align-self: center;
    }

    .footer_item1 h2 {
        font-family: var(--mm600);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .footer_link {
        margin-bottom: 0;
    }

    .footer_item2 {
        margin-bottom: 0;
    }

    .footer_item2 p {
        align-self: center;
        font-family: var(--mm400);
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 95px;
        margin-bottom: 20px;
    }

    .footer_item2 a {
        align-self: center;
        font-family: var(--mm500);
        font-size: 23px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    .footer_item2 .footer_icons {
        align-self: center;
    }
    
    .social {
        margin-top: 60px !important;
        font-family: var(--mm400);
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px !important;
    }

    .footer_icons {
        margin-top: 0px;
        margin-bottom: 60px;
        width: 275px;
    }

    .footer_icons-1,
    .footer_icons-2,
    .footer_icons-3 {
        width: 55px;
        height: 55px;
    }

    .outro {
        font-family: var(--mm500);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 40px !important;
    }

    .outro p {
        margin: 0;
    }

    .outro-design {
        font-family: var(--mm400);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;      
        color: rgba(255, 255, 255, 1);
        margin-bottom: 20px !important;
    }

    .outro-design span{
        font-family: var(--mm500);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
    }

    .footer_item1 p {
        display: none;
    }

    .footer_link1 {
        display: none !important;
    }

    .footer_link2 {
        display: none !important;
    }
}

/* Мобильный футер 768 - 1024 р */
/* Копируется для других страниц */

/* Мобильный хедер 1024p - 1800p */

@media (min-width:1024px) and (max-width:1800px) {
    .navigation-regular {
        padding-right: 70px;
        padding-left: 70px;
    }

    .logo {
        margin-left: 0;
    }

    header {
        position: fixed;
        width: 100%;
    }

    .glavnaya a {
        font-family: var(--mm600);
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        text-align: left;
    }

    .dropdown button span:first-of-type {
        font-family: var(--mm600);
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        text-align: left;
    }

    .form-outline input::placeholder {
        font-family: var(--mm500);
        font-size: 12px;
        font-weight: 500;
        line-height: 14.63px;
        text-align: left;
    }

    .login-section a {
        font-family: var(--mm600);
        font-size: 14px;
        font-weight: 600;
        line-height: 17.07px;
        text-align: left;

    }

    [id='nav-toggle']:checked ~ .nav {
        width: 380px;
        height: 768px;
    }

    .nav .input-group {
        display: none !important;
    }

    .nav_main .autoriz-button{
        display: none !important;
    }

    .nav_main .regist-button{
        display: none !important;
    }

    [id='nav-toggle']:checked ~ .nav > .nav_block > .nav-toggle:after {
        content: url(../../icons/Group\ 16695.png) !important;
    }

    [id='nav-toggle']:checked ~ .nav > .nav_block > .nav-toggle {
        top: 0px;
        right: 0px;
        margin-top: 20px;
        margin-right: 20px;
    }

    .nav_auto-user-square {
        margin-top: 100px;
    }

    .nav-toggle {
        top: 25px;
        right: 320px;
    }
}

/* Мобильный хедер 1024р-1800р */

/* Мобильный мейн 1024р-1800р */

@media (min-width:1024px) and (max-width:1800px) {
    .autorization p {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: var(--mm500);
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;   
    }

    .main_text {
        width: 320px;
        height: 550px;
    }

    .input-container input {
        height: 34px;
        width: 260px;
        padding: 0;
        margin-bottom: 20px !important;
        text-indent: 20px;
    }

    #passwordInput {
        margin-bottom: 20px !important;
    }
    
    .input-container input::placeholder {
        font-family: var(--mm500);
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        text-align: left;

    }

    .input-container #loginImage, #passwordImage{
        top: 14%;
        right: 88%;
    }

    .autoriz-button button {
        width: 260px;
        font-family: var(--mm600);
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        height: 34px;
    }

    .forgot {
        font-family: var(--mm400);
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: center;
        margin-bottom: 46px;
    }

    .no-acc {
        margin-top: 0 !important;
        margin-bottom: 40px !important;
    }

    .no-acc, .no-acc span a {
        font-family: var(--mm600) !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        line-height: 14.63px !important;

    }

    .autorization .last-image {
        top: 20%;
        right: 88%;
    }

    .phone-image {
        top: 18%;
    }

    .email-image {
        top: 23%;
    }

    #confirmPasswordInput {
        margin-bottom: 30px !important;
    }

    .confirm-password-image {
        top: 14%;
    }

    .autoriz-button button {
        margin-bottom: 30px;
    }
}

/* Мобильный мейн 1024р-1800р */





/******************************/
/* Футер 1024px-1800px */

@media (min-width:1024px) and (max-width:1800px) 
{
    .footer_item1 h2 {
        font-family: var(--mm600);
        font-size: 20px;
        font-weight: 600;
        line-height: 24.38px;
        text-align: left;
        width: 114px;
        margin-left: 70px;
    }

    .nav footer {
        display: none;
    }

    .footer_item1 p {
        display: none;
    }

    .outro_designers {
        margin-top: 81px;
    }

    .outro_designers p {
        text-align: center;
        color: #FFFFFF;
        font-family: var(--mm400);
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
    }

    .outro_designers span {
        font-family: var(--mm500);
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #ffffff;
    }

    .outro {
        font-family: var(--mm500);
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
    }

    .footer {
        padding-top: 0;
        margin-top: 70px;
    }

    footer .container {
        justify-content: unset !important;
    }

    .footer_link a{
        font-family: var(--mm500);
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
    }

    .footer_item2 {
        margin-right: 70px;
        align-items: flex-start;
    }

    .footer_item2 p {
        font-family: var(--mm400);
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;

    }

    .footer_item2 a {
        font-family: var(--mm500);
        font-size: 17px;
        font-weight: 500;
        line-height: 20.72px;
        text-align: left;
    }

    .social {
        display: none;
    }

    .footer_icons-1,
    .footer_icons-2,
    .footer_icons-3 {
        width: 32px;
        height: 32px;
    }

    .footer_icons {
        width: 152px;
        align-self: flex-start;
    }
}

@media (min-width: 1024px) and (max-width: 1800px) {
.outro-design {
    display: none;
}
}

@media (min-width:320px) and (max-width:1023px) {
    .outro_designers {
        display: none;
    }
}

@media (min-width:1800px) and (max-width:9999px) {
    .outro_designers {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

}

@media (min-width:1024px) and (max-width:1800px) {
    .nav {
        display: inherit;
    }

    .nav_block .logo {
        display: none !important;
    }
}